# Сборка и бинарные файлы
bin/
obj/
*.exe
*.dll
*.pdb

# Настройки пользователя VS
*.user
*.suo
*.userosscache

# Локальные файлы Rider (если используете)
.idea/
*.sln.iml

# Временные файлы
*.cache
*.log.vs/
